main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
  padding-top: 5%;
}
:root {
  --primary: #BCC3C3;
  --secondary: #F5FAFA;
  --dark: #011111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--primary);
  color: var(--dark);
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {

  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  display: block;
  background: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

header a {
  color: var(--dark);
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--secondary);
  text-align: center;
  
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}


form {
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 0 40px -15px;
  margin: auto;
  
}

input {
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  border-bottom: 2px solid;
}


input:focus {
  border-bottom:2px solid #78788c;
  
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  background: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
  
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

.row {
  margin: 8px -16px;

}
.column{
  float: left;
  width: 50%;
  padding-top: 5%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 15px;

  }
  main{
    padding-top: 45%;
  }
h1,
h2,
h3,
h4,
h5,
h6
{
  text-align: center;
}
h2, 
h3{
  padding-top: 5%;
}

}